/* Баннер */
.mx-banner {
  display: block;
  width: 100%;
  height: 187px;
  position: fixed;
  left: 50%;
  bottom: -100%;
  background: #ccc;
  transition: all 0.5s ease;
  z-index: 999999;
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: #fff;
  box-sizing: border-box;
  padding: 30px;
  transform: translate(-50%, 0);
}

.mx-banner.__active {
  bottom: 0;
}
.mx-banner.__index {
  text-align: center;
  transform: none;
  position: fixed;
  bottom: 0 !important;
  left: 0px !important;
}
.mx-banner .__two {
  display: block;
  width: 100%;
  height: 187px;
  position: fixed;
  left: 50%;
  bottom: -100%;
  background: #ccc;
  transition: all 0.5s ease;
  z-index: 999999;
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  padding: 10px 30px;
}
.mx-banner-btn {
  background: #f34558;
  color: #fff;
  border: none;
  line-height: 4.3;
  padding: 0px 45px;
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* transform: translate(-50%, -100%); */
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}
.__center-btn .mx-banner-btn {
  left: 50%;
  transform: translateX(-50%);
}
.__two .mx-banner-btn {
  bottom: 15px;
}
.mx-banner-btn:hover {
  background-color: #c3001e;
}
.mx-banner-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 28px;
  color: #fff;
  transform: rotate(-45deg);
  cursor: pointer;
  font-family: initial;
}
.mx-banner-from-to {
  font-size: 45px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 10px;
}
.__two .mx-banner-from-to,
.__three .mx-banner-from-to {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 0;
}
/**/
.mx-banner-price {
  line-height: 1;
  font-size: 42px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  text-align: center;
  display: block;
}
.mx-banner-price:before {
  content: "от";
  margin-right: 7px;
  font-size: 26px;
  vertical-align: top;
  line-height: 1.2;
  margin-left: 4px;
  font-weight: 200;
}
.mx-banner-price:after {
  content: "₽";
  margin-left: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 25px;
  vertical-align: top;
  line-height: 1.1;
  font-weight: 200;
}
.mx-banner-text {
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  line-height: 1.2;
  display: block;
  font-weight: 300;
}
.__four .mx-banner-text {
  font-size: 10px;
  float: left;
  margin-top: -10px;
}
.mx-banner-promo {
  padding: 8px 20px 0;
  border: 1.5px solid;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  letter-spacing: 1px;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.mx-banner-promo:before {
  content: "Ваш промокод";
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 8px;
}
.mx-banner-profit {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 200;
  text-align: left;
  float: left;
}
.mx-banner-disc {
  display: inline-block;
  font-size: 60px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  letter-spacing: -1.5px;
  line-height: 0.8;
}
.mx-banner-exp {
  display: block;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif !important;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 200;
  transform: translateY(-15px);
}
.mx-banner-balance {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-top: 12px;
}
.__two .mx-banner-balance {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  position: absolute;
  left: 60px;
  right: initial;
  margin: 0;
  bottom: 15px;
  text-align: left;
}

.__two .mx-banner-balance:after {
  display: none;
}
.mx-banner-nodkl {
  font-size: 40px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 1px;
  float: left;
  line-height: 1;
}
.mx-banner-nodkl:before {
  content: "Ваша скидка";
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  line-height: 3;
  margin-right: 7px;
}
.mx-banner-nodkl:after {
  content: "₽ *";
  display: inline-block;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  margin-left: 8px;
  vertical-align: top;
  line-height: 2.3;
}
