/* Баннер */
.mx-banner {
  display: block;
  width: 320px;
  height: 405px;
  position: fixed;
  top: -100%;
  left: 10px;
  background: #ccc;
  transition: all 0.5s ease;
  z-index: 999999;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding: 100px 30px;
}
.mx-banner.__active {
  top: 10px;
}
.mx-banner-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 28px;
  color: #fff;
  transform: rotate(-45deg);
  cursor: pointer;
  font-family: initial;
}
.mx-banner-head {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
}
.mx-banner-content {
  display: block;
  font-size: 38px;
  line-height: 1.2;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
}
.mx-banner-social {
  padding-left: 0;
}
.mx-banner-social li {
  background-image: url("https://service.maxymiser.net/cm/images-eu/1/1/1/9D949D78C5D486DDD2B3D2B4F73DD527AE54A9D2126037C571EAE039718E538E/uralairlines-ru/banners-test/socials.jpeg");
  background-position-y: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.mx-banner-social li:hover {
  background-position-y: 40px;
}
.mxfb {
  background-position-x: 160px;
}
.mxtw {
  background-position-x: 80px;
}
.mxin {
  background-position-x: 120px;
}
.mxok {
  background-position-x: 40px;
}
.mx-banner-social li a {
  display: block;
  width: inherit;
  height: inherit;
}
.mx-banner-btn {
  background: #f34558;
  color: #fff;
  border: none;
  line-height: 4;
  padding: 0px 50px;
  font-size: 10px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}
.mx-banner-btn:hover {
  background-color: #c3001e;
}
/* Тестовая форма */
.test-data-form {
  display: block;
  width: 500px;
  padding: 10px;
  background: #eee;
  z-index: 999999999999;
  position: fixed;
  bottom: 0;
  left: 0;
}
.test-data-form div {
  display: block;
  float: left;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
.test-data-form div label,
.test-data-form div input {
  display: block;
  float: left;
  width: 50%;
  border: none;
  line-height: 20px;
  height: 20px;
  text-indent: 20px;
  font-size: 12px;
}
